<style type="text/css">
#content {
    margin: 0 auto;
}

textarea {
    min-height: 100px;
    width: 100%;
}

.maintable {
    width: 600px;
}
.maintable td {
    vertical-align: top;
}

</style>

<div id="content">
    <h2>42 Coffee Cups Test Assignment</h2>
    <table class="maintable">
        <tbody>
            <tr>
                <td>
                    <div>First name: {{ user.first_name }}</div>
                    <div>Last name: {{ user.last_name }}</div>
                    <div>Date of birth: {{ user.date_of_birth }}</div>
                    <div>Biography:</div>
                    <textarea readonly>{{ user.bio }}</textarea>
                </td>
                <td>
                    <h5>Contacts:</h5>
                    <div>Email: {{ user.email }}</div>
                    <div>Jabber: {{ user.jabber }}</div>
                    <div>Skype: {{ user.skype }}</div>
                    <div>Other contacts:</div>
                    <ul>
                        {% for contact in user.contacts %}
                            <li>{{ contact.contact_type }}: {{ contact.value }}</li>
                        {% endfor %}
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>
</div>
