{% extends "base.html" %}

{% block styles %}

textarea {
    min-height: 100px;
    width: 100%;
}

.maintable {
    width: 600px;
}
.maintable td {
    vertical-align: top;
}
{% endblock %}

{% block title %}
42 Coffee Cups Test Assignment
{% endblock %}
{% block content %}
<table class="maintable">
    <tbody>
        <tr>
            <td>
                <p>First name: {{ person.first_name }}</p>
                <p>Last name: {{ person.last_name }}</p>
                <p>Date of birth: {{ person.date_of_birth }}</p>
                {% if person.photo %}
                    <p><img src="{{ person.photo.url }}"></p>
                {% endif %}
            </td>
            <td>
                <h5>Contacts:</h5>
                <p>Email: {{ person.email }}</p>
                <p>Jabber: {{ person.jabber }}</p>
                <p>Skype: {{ person.skype }}</p>
                <p>Biography:</p>
                <textarea readonly>{{ person.bio }}</textarea>
                <p>Other contacts:</p>
                <textarea readonly>{{ person.contacts }}</textarea>
            </td>
            <td>{% if user.is_authenticated %}
                <p><a href="{% url 'logout' %}">Log Out</a></p>
                <p><a href="{% url 'edit' %}">Edit data</a></p>
                {% else %}
                <p><a href="{% url 'login' %}">Log In</a></p>
                {% endif %}
            </td>
        </tr>
    </tbody>
</table>
<hr>
<a href="{% url 'requests' %}">Requests</a>
{% endblock %}