{% extends "base.html" %}

{% block styles %}

textarea {
    min-height: 100px;
    width: 100%;
}

.maintable {
    width: 600px;
}
.maintable td {
    vertical-align: top;
}
{% endblock %}

{% block title %}
42 Coffee Cups Test Assignment
{% endblock %}
{% block content %}
<table class="maintable">
    <tbody>
        <tr>
            <td>
                <p>First name: {{ user.first_name }}</p>
                <p>Last name: {{ user.last_name }}</p>
                <p>Date of birth: {{ user.date_of_birth }}</p>
                {% if user.photo %}
                    <p><img src="{{ user.photo.url }}"></p>
                {% endif %}
            </td>
            <td>
                <h5>Contacts:</h5>
                <p>Email: {{ user.email }}</p>
                <p>Jabber: {{ user.jabber }}</p>
                <p>Skype: {{ user.skype }}</p>
                <p>Biography:</p>
                <textarea readonly>{{ user.bio }}</textarea>
                <p>Other contacts:</p>
                <textarea readonly>{{ user.contacts }}</textarea>
            </td>
            <td>
                <a href="{% url %}"></a>
            </td>
        </tr>
    </tbody>
</table>
<hr>
<a href="{% url 'requests' %}">Requests</a>
{% endblock %}